@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap");

body {
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
}

.font-h {
  font-family: Kalam;
  font-style: normal;
  font-weight: bold;
  background: -webkit-linear-gradient(
    rgba(160, 244, 255, 1) 0%,
    rgba(254, 185, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 86%;
  padding: 20px;
}

.logo {
  font-family: Rozha One;
  font-style: normal;
  font-weight: normal;
}
